/* hero*/

.overlay {
    
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // Mobile screen
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../img/hero/Header_sm/img-480.jpg");
    
        // retina mobile screen
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../img/hero/Header_sm/img-760.jpg");
        }
    
        // Tablet screen
        @media screen and (min-width: 481px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../img/hero/Header/img_768.jpg);
    
            // retina tablet screen
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/price/bg-img_md-@2x.jpg);
            }
        }
    
        // Desktop screen
        @media screen and (min-width: 769px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/price/bg-img_lg-@1x.jpg);
    
            // retina desktop screen
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/price/bg-img_lg-@2x.jpg);
            }
        }
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $hero-background;
    text-align: center;

    &__title {
            color: $primary-color;
    
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
    
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
}



/* button*/

.hero__button {
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    margin-top: 30px;

    height: 50px;
    align-items: center;
        text-align: center;
    color: $primary-color;
    background-color: $accent-color;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms $timing-funktion;

    &:hover, &:focus {
         background-color: $button-background-hero;
        }
}
