.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @include mq(tablet) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    position: absolute;
    background-color: palegoldenrod;
    font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        padding: 48px 40px;
   

    @include mq(phone-only) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        &.is-open {
            display: block;
        }
    }

         @include mq(tablet) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        padding: 20px;
            text-align: center;
            font-size: 20px;
    }
}

.navigation,
.contacts {
    height: 50px;
    width: 140px;
}

.navigation {
    outline: 1px solid teal;
}

.contacts {
    outline: 1px solid orange;
}