.page-header {
position: relative;

    border: 1px solid #ececec;
}


.nav {
position: relative;
display: flex;
@include mq(tablet) {
        align-items: center;
    }
   
}

.site-nav {
    display: block;
   
}

.site-nav__link {
    color: $title-text-color;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-funktion;

    &:hover, &:focus {
            color: $accent-color;
        }
    
        &--carrent {
            color: $accent-color;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            position: relative;
        }
    
        &--carrent::after {
            @include mq(tablet) {
                    position: absolute;
                        bottom: -33.5px;
                        right: 0px;
                        content: "";
                        width: 100%;
                        height: 4px;
                        background-color: $accent-color;
                        border-radius: 2px;
                }
           
        }
}

.site-nav__item {
    
    

    @include mq(tablet) {
        display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            margin-left: 50px;
        }
}

.auth-nav {
   

    &__item {
        @include mq(tablet) {
                margin-left: 50px;
            }
           
        }
}


.contakt-link {
 
   
    align-items: center;
    color: $primary-text-color;
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-funktion;

    @include mq(tablet) {
        padding-top: 32px;
            padding-bottom: 32px;
        }

   &:hover, &:focus {
            color: $accent-color;
        }
}



.contakt-link__icon {
   
    fill: currentColor;
    transition: fill 250ms $timing-funktion;

    &:hover, &:focus {
            fill: $accent-color;
        }
}

